main,
header,
section{
    display: block;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1519.2px;
    height: 72px;

    margin: 0;
    padding: 0;

    /* position: fixed; */
    background-color: white;
}

.nav-bar{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 970px;
    height: 72px;

    bottom: 0;
}


.ul-section01{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260.11px;
    height: 24px;


    margin: 0;
    /* padding: 0; */
    list-style: none;
    font-weight: bold;
    color: #323232;
    font-size: 14px;
    line-height: 1.5;
}

.header-section01{
    width: 369.61px;
    height: 27.55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* margin: 0; */
    /* padding: 0; */
}

.li01{
    /* margin: 0; */
    padding: 0;

    width: 58.888px;
    height: 24px;
}

.li02,
.li04{
    margin: 0px 0px 0px 18px ;
    padding: 0;

    width: 58.888px;
    height: 24px;
}

.li03{
    margin: 0px 0px 0px 18px;

    width: 29.45px;
    height: 24px;
}

.header-section02{
    width: 256px;
    height: 40px;
}

.header-section03{
    width: 202.18px;
    height: 35.6px;

    display: flex;
    align-items: center;
}

.soomgo-img{
    width: 79.5px;
    height: 27px;
}

.search{
    background-color: #f4f4f4;
    border-radius: 6px;

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px 12px;
    position: relative;

}

.search-box{
    width: 24px;
    height: 40px;
    padding: 0px 0px 0px 0px;
}

.search-img{
    width: 24px;
    height: 40px;
}

input{
    border: none;
    background-color: #f4f4f4;
}

.ul-section02{
    display: flex;

    list-style: none;
    width: 106.18px;
    height: 21px;

    margin: 0;
    padding: 0;
}

.section02-li01,
.section02-li02{
    font-size: 12px;
    font-weight: 500;
    display: flex;
}

.section02-li01{
    width: 38.65px;
    height: 21px;
}

.section02-li02{
    width: 51.53px;
    height: 21px;
    margin: 0px 0px 0px 16px;
}

button{
    background-color: #00c7ae;
    color: white;
    width: 80px;
    height: 35.6px;
    margin: 0px 0px 0px 16px;
    padding: 6.5px 0px;
    border: none;
    border-radius: 6px;

    
}

/* banner */

.banner-wrap{
    width: 970px;
    height: 280px;
    padding: 16px 0px 0px 0px;
    border: 7px;
    display: flex;

    overflow: hidden;
    position: relative;
    left: 266px;

}

.banner-wrap > ul{
    list-style: none;
}

.banner-box{
    display: flex;

    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;


    position: absolute;
}

.banner-img{
    width: 970px;
    height: 280px;
    border-radius: 6px;
}

.prev,
.next{
    position: absolute;
    font-size: 25px;
    line-height: 35px;
    color: white;
    background-color: #00000026;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;

    top: 100px;
    
}

.prev{
    right: 915px;
}

.next{
    left: 915px;
}
.number{
    background-color: #00000026;
    color: white;

    width: 43px;
    height: 24px;
    border-radius: 50px;
    display: flex;
    justify-content: center;

    /* position: absolute; */
}

/* 카테고리 */

.category-box{
    display: flex;
    justify-content: center;
}

.category{
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;

    width: 900px;
    height: 73px;

    margin: 32px 274.6px 80px;
    padding: 0;
}


a{
    text-decoration: none;
}

/* a:hover{

} */

.category-icon{
    width: 60px;
    height: 73px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.category-img{
    width: 48px;
    height: 48px;

    background-color: #fafafa;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category-img > img{
    width: 28px;
    height: 28px;
}

.category-text{
    width: 100px;
    height: 17px;
    margin: 0;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 숨은 인기 서비스 */

.service{
    display: flex;
    flex-direction: column;
    width: 970px;
    height: 272.5px;

    margin: 0px 274.6px 80px;
}

.main-service{
    display: flex;
    
    overflow: hidden;
    
}

.service > h2{
    width: 970px;
    height: 36px;
    color: #323232;
    margin: 0px 0px 24px;
    font-size: 24px;
}

.service-lesson{
    width: 225px;
    height: 231.1px;
    padding: 0px 8px;
}

.service-img{
    width: 231px;
    height: 153px;

}

.service-img > img{
    width: 231px;
    height: 153px;
    border-radius: 8px;
    margin: 0px 0px 8px;
}

.service-img > p{
    width: 231px;
    height: 24px;
    color: #323232;
    font-size: 16px;
    margin: 0px 0px 4px;
}

.service-text{
    width: 16px;
    height: 16px;
    margin: 0px 6px 0px 0px;
    color: #737373;
    font-size: 14px;
}

.service-text-box{
    display: flex;
    align-items: center;
    color: #737373;
    width: 231px;
    height: 21px;
}

.service-text-box > span {
    color: #737373;
}

.prev02,
.next02{
    position: absolute;
    font-size: 25px;
    line-height: 44px;
    color: #737373;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 1px 1px 100px 3px black; 
    text-align: center;
    cursor: pointer; 
    
    top: 670px;
    
}

.prev02{
    left: 260px;
}

.next02{
    right: 250px;
}

/* 숨은고수 포트폴리오 */
.portpolio{
    width: 970px;
    height: 327.6px;
    margin: 0px 274.6px 80px;
    
    overflow: hidden;
}


.portpoilo-title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 970px;
    height: 43px;

    margin: 0px 0px 20px;
}

.portpoilo-title > h2 {
    width: 225px;
    height: 35px;
    margin: 0px 0px 8px;
    line-height: 40px;
    font-size: 24px;
    color: #2d2d2d;
       
}

.portpoilo-title > a {
    color: #00c7ae;

}

 
.main-portpolio{
    display: flex;
    
    position: relative;
    right: 8px;
}


.portpolio-box{
    width: 247px;
    height: 264.6px;
    padding: 0px 8px;

}


.portpolio-img-box{
    width: 231px;
    height: 264.6px;

    

}



.portpolio-img{
    width: 229.4px;
    height: 229.4px;

    border-radius: 8px;
} 

.portpolio-text-box{
    width: 197.40px;
    height: 57px;

    position: absolute;
    top: 180px;
    margin: 0px 16px;
}

.portpolio-text-box > h3{
    width: 197.40px;
    height: 20px;
    margin: 0px 0px 4px;

    font-size: 14px;
    color: #ffffff;
}

.portpolio-text-box > p{
    width: 197.40px;
    height: 17px;
    margin: 0px 0px 16px;

    font-size: 12px;
    color: #ffffff;
}

.portpolio-text02-p01{
    position: relative;
    left: 5px;

    margin: 8px 0px 0px;
    color: #323232;
    font-size: 12px;
}

.portpolio-text02{
    width: 61.13px;
    height: 20px;
    margin: 8px 0px 0px;

    position: absolute;
    top: 200px;
    left: 8px;
}

.portpolio-text02-p02{
    position: relative;
    left: 250px;

    margin: 8px 0px 0px;
    color: #323232;
    font-size: 12px;
}

.portpolio-text02-p03{
    position: relative;
    left: 500px;

    margin: 8px 0px 0px;
    color: #323232;
    font-size: 12px;
}

.portpolio-text02-p04{
    position: relative;
    left: 750px;

    margin: 8px 0px 0px;
    color: #323232;
    font-size: 12px;
    width: 100px;
}

.portpolio-text02-p05{
    position: relative;
    left: 1000px;

    margin: 8px 0px 0px;
    color: #323232;
    font-size: 12px;
}

.portpolio-text02-p06{
    position: relative;
    left: 1250px;

    margin: 8px 0px 0px;
    color: #323232;
    font-size: 12px;
}

.prev03,
.next03{
    position: absolute;
    font-size: 25px;
    line-height: 44px;
    color: #737373;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 1px 1px 100px 3px black; 
    text-align: center;
    cursor: pointer; 
    
    top: 2830px;
    
}

.prev03{
    left: 250px;
}

.next03{
    right: 240px;
}


/* 배우고 성장하는 재미 */

.learn{
    display: flex;
    flex-direction: column;
    

    width: 970px;
    height: 250.6px;
    
    margin: 0px 274.6px 80px;

    overflow: hidden;
}

.learn > h2 {
    color: #323232;
    text-align: left;

    width: 970px;
    height: 36px;

    margin: 0px 0px 24px;
    font-size: 24px;
}

.main-learn{
    display: flex;
    
}

.learn-img {
    width: 231px;
    height: 190.6px;
    padding: 0px 8px;
}

.learn-img > img {
    width: 231px;
    height: 153px;
    margin: 0px 0px 8px;
    border-radius: 8px;

    position: relative;
    right: 8px;
}

.learn-text{
    width: 231px;
    height: 24px;
    color: #323232;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.prev04,
.next04{
    position: absolute;
    font-size: 25px;
    line-height: 44px;
    color: #737373;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 1px 1px 100px 3px black; 
    text-align: center;
    cursor: pointer; 
    
    top: 3210px;
    
}

.prev04{
    left: 250px;
}

.next04{
    right: 240px;
}

/* 전국 숨은 고수 */
.hidden{
    width: 970px;
    height: 100px;
    margin: 0px 274.6px 80px;

    display: flex;
    justify-content: space-between;
}

.hidden-text{
    width: 176.850px;
    height: 100px;
    margin: 0px 110px 0px 0px;
}

.hidden-text > h2{
    width: 176.850px;
    height: 36px;
    font-size: 24px;
    color: #323232;
    margin: 0px 0px 16px;
}

.hidden-text > p{
    width: 176.850px;
    height: 48px;
    font-size: 16px;
    color: #737373;
    margin: 0;
}

#text{
    width: 221.06px;
    color: #737373;
}

.hidden-city-box {
    width: 650px;
    height: 100px;
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.hidden-city > a{
    display: inline-block;
    width: 58px;
    height: 36px;
    font-size: 14px;
    color: #00c7ae;
    background-color: #EAFAF9;
    padding: 0;
    margin: 0;
    border-radius: 36px;
    text-align: center;
    line-height: 38px
}

.hidden-city{
    width: 58px;
    height: 38px;
    padding: 0px 14px 21px 0px;
}

/* 숨고 이야기 */

.story{
    width: 970px;
    height: 304.6px;
    margin: 0px 274.6px 75px;

    
}

.story-title{
    width: 970px;
    height: 36px;
    margin: 0px 0px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-title a {
    color: #00c7ae;
}
.main-story{
    /* width: 2632px;
    height: 244.600px; */

    overflow: hidden;
    display: flex;
    
}

.story-box {
    width: 313px;
    height: 244.600px;
    padding: 0px 8px;

    position: relative;
    right: 8px;
}

.story-img-box{
    width: 311.400px;
    height: 205.400px;
    margin: 0px 0px 8px;
}

.story-img{
    width: 311.400px;
    height: 204.400px;
    border-radius: 8px;
}

.story-img-box p {
    width: 313px;
    height: 24px;
    margin: 0;
    color: #323232;
    font-weight: bold;
    line-height: 30px;
}

.prev05,
.next05{
    position: absolute;
    font-size: 25px;
    line-height: 44px;
    color: #737373;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 1px 1px 100px 3px black; 
    text-align: center;
    cursor: pointer; 
    
    top: 3750px;
    
}

.prev05{
    left: 250px;
}

.next05{
    right: 240px;
}

/* footer */

.main-footer{
    width: 1519.200px;
    height: 325.200px;
    padding: 21px 0px 40px;
    border-top: 0.8px solid #737373;
}

.footer01{
    width: 970px;
    height: 167.800px;
    margin: 0px 274.600px;
}

.footer-text{
    width: 288.60px;
    height: 137.8px;
    margin: 0px 0px 30px;
}

.phone-number{
    width: 288.6px;
    height: 31.8px;
    padding: 0px 0px 3px;
    margin: 0;
    color: #00c7ae;
    font-size: 20px;
    font-weight: bold;
}

.time{
    width: 330px;
    height: 40px;
    padding: 0px 0px 30px;
    margin: 0;
    color: #737373;
    font-size: 14px;
}

.app-store{
    width: 104px;
    height: 36px;
    color: #ffffff;
    font-size: 12px;
    background-color: #00c7ae;
    margin: 0px 8px 0px 0px;
    padding: 0px 16px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
}

.app-store img{
    width: 20px;
    height: 20px;
    margin: -2px 0px 0px;
    padding: 0px 6px 0px 0px;
}

.play-store{
    width: 104px;
    height: 36px;
    color: #ffffff;
    font-size: 12px;
    background-color: #00c7ae;
    padding: 0px 16px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
}

.play-store img{
    width: 20px;
    height: 20px;
    margin: -2px 0px 0px;
    padding: 0px 6px 0px 0px;
}